.quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background-color: teal;
}

.quiz h1 {
  color: white;
  margin-left: 10px;
}
.quizWrapper {
  width: 70%;
}
