.answerItem {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  list-style-type: none;
}
.answerItem:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}
.answerItem.success {
  background-color: green;
}
.answerItem.error {
  background-color: red;
}
